.landing_page {
    width: 80%;
    height: 100%;
    overflow-y: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cont_image {
    display: flex;
    gap: 50px;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 30px;
}

.cont_image_big {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stack_img {
    width: 150px;
    height: 150px;
}

.stack_img_big {
    width: 400px;
    height: 200px;
}

.stack_img_big_vis {
    width: 650px;
    height: 200px;
    padding-bottom: 40px;
}

@media (max-width: 1024px) {
    .cont_image {
        display: block;
    }
    .stack_img {
        width: 70px;
        height: 70px;
    }

    .cont_image_big {
        justify-content: center;
        align-items: flex-start;
    }
    .stack_img_big {
        width: 200px;
        height: 100px;
    }
    .stack_img_big_vis {
        width: 350px;
        height: 100px;
        padding-bottom: 40px;
    }
}
